*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --snitap-sun: #FFCD1E;
  --snitap-sky-mid: #06B6D4;
  --snitap-sky-light:#67E8F9;
  --snitap-joy-mid: #DB2777; 
  --snitap-joy-light: #F472B6;
  --snitap-leaf-mid: #16A34A;
  --text: #000000;
  --highlights: #000000;
  --background: #FAFAFA;
}

html, button {
  font: 500 1rem/1.5 "Montserrat", sans-serif;
}

h1, h2 {
  font-family: 'Syne', sans-serif ;
}

h1 {
  font-size: 4rem;
  line-height: 1.25;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}