section.hero {
  max-width: 100rem;
  width: 100%;
  padding: 2.5rem 2rem;
  margin-inline: auto;
}

section.hero h1 {
   max-width: 40rem;
}

 & h1 div{
  display: inline-block;
  overflow: hidden;
  height: 5rem;
  width: min-content;
   vertical-align: bottom;
 }

& h1 span:nth-child(1),
& h1 span:nth-child(4) {
   color: var(--snitap-sky-mid);
}

& h1 span:nth-child(2){
  color: var(--snitap-joy-mid);
}
& h1 span:nth-child(3){
  color: var(--snitap-leaf-mid);
}

  


